<div class="container-home">
    <h1 class="logo"><i class="fa fa-glide"></i></h1>
  <input  class="ui-g-offset-2 ui-g-8 ui-g-offset-2 nata-search" 
          type="text" 
          placeholder="Procure vagas aqui..." 
          pinputText>
</div>
  
<guava-card-vaga *ngFor="let job of jobs" [job]="job"></guava-card-vaga>
<guava-card-vaga *ngFor="let job of jobs" [job]="job"></guava-card-vaga>