<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand name-app" href="#">NataGUAVA</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <button *ngIf="user?.profileEnum == 'ROLE_RECRUTER'" class="btn btn-primary new-action-btn-header" routerLink="form-job">+ PUBLICAR VAGA</button>
      <button *ngIf="user?.profileEnum == 'ROLE_CANDIDATE'" class="btn btn-primary new-action-btn-header" routerLink="form-job">SIMULADO</button>
    </ul>
   <div class="navbar-right info-user">
    <label [routerLink]="['/home-company']" *ngIf="user; else noUser">{{user?.email}} <i class="fa fa-user-circle"></i></label>
    <ng-template #noUser>
      <label [routerLink]="['/login']">Login</label>
    </ng-template>
  </div>
  </div>
</nav>
