<guava-header></guava-header>
<div style="background: rgb(217, 228, 236)">
    <section class="content-header">

    </section>
    <section>
        <router-outlet></router-outlet>
    </section>
</div>