<div class="login-box">
    <div class="login-logo">
      <a href="#" class="login-logo-color"><b>Nata</b>GUAVA</a>
    </div>
    <div class="login-box-body card-login">
      <p class="login-box-msg">Faça login para iniciar a seção</p>
  
      <form [formGroup]="loginForm" (ngSubmit)="loginCompany()">
        <div class="form-group has-feedback">
          <input type="email" formControlName="email" class="form-control" placeholder="Email">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>

        <div class="form-group has-feedback">
          <input type="password" formControlName="password" class="form-control" placeholder="Password">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <div class="checkbox icheck">
              <label>
                <input type="checkbox"> Remember Me
              </label>
            </div>
          </div>
          <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
          </div>
        </div>
      </form>
  
      <div class="social-auth-links text-center">
        <p>- Acesse com a conta do seu Repositório -</p>
        <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-github"></i> Sign in
          Github</a>
        <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-gitlab"></i> Sign in 
          Gitlab</a>
      </div>
      <a href="#" class="forgot-pwd-link">Esqueci minha senha!</a><br>
  
    </div>
  </div>