<div class="col-md-6 signin-card">
  <div class="box box-info form-login">
    <div class="box-header with-border">
      <h3 class="box-title">Cadastre, caro Candidato!</h3>
    </div>
    <form 
      [formGroup]="signupForm"  
      class="form-horizontal" 
      (submit)="signup()">
      
      <div class="box-body">
        <div class="form-group">
          <label for="email" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input  
              formControlName="email" 
              type="email" 
              class="form-control" 
              id="email" 
              placeholder="Email">
          </div>
        </div>
        
        <div class="form-group">
          <label for="password" class="col-sm-2 control-label">Senha</label>
          <div class="col-sm-10">
            <input 
              formControlName="password" 
              type="password" 
              class="form-control" 
              id="password" 
              placeholder="Senha">
          </div>
        </div>
        
        <div class="form-group">
            <label for="confpassword" class="col-sm-2 control-label">Confirmação de Senha</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="confpassword" placeholder="Conf. Senha">
            </div>
          </div>
      </div>

      <div class="form-group">
        <label for="nome" class="col-sm-2 control-label"> Nome</label>
        <div class="col-sm-10">
          <input 
            formControlName="name" 
            type="text" 
            class="form-control" 
            id="nome" 
            placeholder="Name">
        </div>

      </div>
      <div class="form-group">
        <label for="repo" class="col-sm-2 control-label"> URL Repositório GIT:</label>
        <div class="col-sm-10">
          <input 
            formControlName="urlRepo" 
            type="text" 
            class="form-control" 
            id="repo" 
            placeholder="Name">
        </div>
      </div>
      
      <div class="box-footer btns-login">
        <button type="submit" class="btn btn-default">Cancel</button>
        <button type="submit" [disabled]="signupForm.invalid" class="btn btn-info pull-right">Sign in</button>
      </div>
    </form>
  </div>
</div>